* {
    box-sizing: border-box;
}

html {
	height: 100%; 
}

body {
	margin: 0;
	height: 100%;
	display: flex; 
	flex-direction: column;
}


nav {
	display: flex;
	line-height: 80px;
}

nav a {
    text-align: center;
    flex-grow: 1; 
	border: 1px solid #3E2723;
	background: orange;
}

.main-block {
	flex: 1 0 auto; 
}	


.border {
	border: 0px solid red;
}

.line-1 {
	justify-content: center;
}



.line-2-container p {
	margin: 0;
	width: 100%;
	text-align: center;
	font-size: 30px;
}

.line-2-container img {
	padding: 2%;
	width: 100%;
	height: auto;
}

.line-3, 
.line-4 p {
	text-align: center;
	padding: 1%;
}

.padding {
	padding: 1%;
}


.line-5 {
	height: 189px;
}

.line-5-left {
	flex-wrap: wrap;
	height: auto;
}

.line-5-left .p-width {
	text-align: center;
	width: 30%;
	height: 100px;
	padding: 1%;
}

.line-5-left .img-bottom {
	width: 30%;
	height: 50px;
	padding: 1%;

}

.line-5-left .img-left {
	width: 70%;
	height: 185px;
	padding: 1%;

}

.line-5-right {
	text-align: center;
	padding: 1%;

}

.line-5-right div {
	height: 100%;
}

aside {
	display: flex;
	flex-direction: column;
}

aside a {
 	flex-grow: 1;
	border: 1px solid #3E2723;
	background: lime;
	text-align: center;
	padding-top: 40%;
}

footer {
	line-height: 80px;
	text-align: center;
	background: brown;
	flex: 0 0 auto; 
	margin-bottom: 0;
}

